<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <title>Books</title>
</head>
<body>
<div class="container-fluid" style="background-color: navy; min-height:100vh">
    <div class="row">
        <div class="col-lg-12" style="height: 50vh; padding: 0; margin: 0; width: 100vw">
            <center>
                <div id = "searchbox" style="margin-top: 12.5%;">
                    <input type="search" placeholder="Search.." id="search" style="width: 80%;">
                    <button type="submit" id = "button">Search</button>
                </div>
                <br>
                <button type="button" id = "showModal" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">
                    TOP 5 MOST VOTED BOOKS!
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">TOP 5 BOOKS</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id = "body" style="text-align: left;">
                                <h3>5 Most Voted Books</h3>
                                <ul id = "modalResult"></ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="min-height: 50vh; padding: 0; width: 100vw;">
            <center>
                <table id = "bookResult" style="background-color: white; border: 1px solid black; text-align: center; min-width: 55vw;max-width: 70vw">
                    <tr>
                        <td style="border: 1px solid black;">Title</td>
                        <td style="border: 1px solid black;">Author</td>
                        <td style="border: 1px solid black;">Likes</td>
                        <td style="border: 1px solid black;">Vote</td>
                    </tr>
                </table>
            </center>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

<script type="text/javascript">
    function display() {
        sort()
        var originalTable = document.getElementById("bookResult");
        var originalTableRows = originalTable.rows
        var list = document.getElementById("modalResult");
        list.innerHTML=""
        if (originalTableRows.length >= 5) {
            for (i = 0; i < 5; i++) {
                list.innerHTML += "<li>" + originalTableRows[i+1].cells[0].textContent + "</li>"
            }
        } else {
            for(i = 0; i < originalTableRows.length-1; i ++) {
                list.innerHTML += "<li>" + originalTableRows[i+1].cells[0].textContent + "</li>"
            }
        }
    }

    function sort() {
        var table = document.getElementById("bookResult");
        var switching;
        var rows;
        var shouldSwitch
        var x;
        var y;
        switching = true;

        while (switching) {
            switching = false;
            rows = table.rows;
            console.log(rows)
            console.log(rows[1].cells[2].textContent)

            for (i = 1; i <(rows.length-1); i++) {
                shouldSwitch = false;
                x= parseInt(rows[i].cells[2].textContent)
                y= parseInt(rows[i + 1].cells[2].textContent)

                if (x < y) {
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }

    function incrementLike(id) {
        var currLike = parseInt(document.getElementById(id).textContent)
        document.getElementById(id).innerHTML = currLike + 1
        console.log(currLike)
    }

    function searchBook() {
        var table = document.getElementById("bookResult");
        table.innerHTML= ""
        var rowinit = table.insertRow(0);
        var cell1 = rowinit.insertCell(0);
        var cell2 = rowinit.insertCell(1);
        var cell3 = rowinit.insertCell(2);
        var cell4 = rowinit.insertCell(3);

        cell1.style.border = "1px solid black";
        cell2.style.border = "1px solid black";
        cell3.style.border = "1px solid black";
        cell4.style.border = "1px solid black";

        cell1.innerHTML = "Title"
        cell2.innerHTML = "Author";
        cell3.innerHTML = "Likes";
        cell4.innerHTML = "Vote";
        var search = document.getElementById('search').value
        console.log(search)

        $.ajax({
            url: "https://www.googleapis.com/books/v1/volumes?q=" + search,
            dataType: "json",
            success: function(data) {
                for (i = 0; i < data.items.length; i++) {
                    var row = table.insertRow(table.rows.length);

                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);

                    cell1.style.border = "1px solid black"
                    cell2.style.border = "1px solid black"
                    cell3.style.border = "1px solid black"
                    cell4.style.border = "1px solid black"

                    cell1.innerHTML = data.items[i].volumeInfo.title;
                    if (typeof data.items[i].volumeInfo.authors !== 'undefined') {
                        cell2.innerHTML = data.items[i].volumeInfo.authors[0];
                    }
                    else {
                        cell2.innerHTML = "-";
                    }
		            cell1.id = "Book" + i;
                    cell3.id ="Like" +  i;
                    cell3.innerHTML = "0";
                    cell4.innerHTML = "<button id='button" + i + "' onclick=incrementLike('Like" + i + "')>Like</button>"
                }
            },
            type: 'GET'
        });
    }
    document.getElementById('showModal').addEventListener('click', display)
    document.getElementById('button').addEventListener('click', searchBook)
    document.getElementById('search').addEventListener('keyup', function (e) {
        if (e.keyCode == 13) {
            return searchBook()
        }
    }, false)
  </script>

</html>
